{% extends 'html/base.html' %}
{% block main %}
    <table class="table table-hover">
        <tr><td>主机名</td><td>IP</td><td>系统</td><td>存活状态</td><td>操作</td></tr>
        {% for i in  data %}
            <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td><a href="{% url 'Delete_Host' name=i.0  %}">删除</a>&nbsp;&nbsp;<a href="#">远程操作</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
