{% extends "html/base.html" %}
{% block header %}
    <script>
        function remote_exe() {
            var tgt = document.getElementById('target').value;
            var fun = document.getElementById('function').value;
            var args = document.getElementById('args').value;
                $.ajax({
                url:"{% url 'Remote_Execution' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'tgt':tgt,
                    'fun':fun,
                    'args':args
                },
                success:function (s) {
                    $("#result").empty();
                    function get_data(d){
                        var element=document.getElementById("result");
                        for (i in d){
                            var pa = document.createElement("h3");
                            var no=document.createTextNode(i);
                            pa.appendChild(no);
                            element.appendChild(pa);
                            if (typeof d[i]=='object'){
                                if(get_data(d[i])){
                                    var para = document.createElement("h3");
                                    var note=document.createTextNode(get_data(d[i]));
                                    para.appendChild(note);
                                    element.appendChild(para);
                                }
                            }
                            else {
                                var para = document.createElement("p");
                                var node=document.createTextNode(d[i]);
                                para.appendChild(node);
                                element.appendChild(para);
                            }
                        }
                    }
                    get_data(s)
                },
                error:function (e) {
                    alert(e)
                }
            });
        }
    </script>
{% endblock %}

{% block main %}
    <div class="col-lg-6" style="float: right;">
        <div class="input-group input-group-lg">
            <table class="table">
                <tr>
                    <td><input type="text" class="form-control"  id="target" placeholder="target"></td>
                    <td><input type="text" class="form-control"  id="function" placeholder="function"></td>
                    <td><input type="text" class="form-control"  id="args" placeholder="args"></td>
                    <td>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button"  onclick="remote_exe()">执行</button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 22px;height: 40px;line-height: 40px;">返回结果</h3>
        </div>
        <div class="panel-body">
            <pre style="width: 100%">
                <span id="result"></span>
            </pre>
        </div>
    </div>
{% endblock %}